geoSketch.pro.user.2.1pre1
*Makefile*
*.o
moc_*
*.a
app/geoSketch
*project
*/debug/
test/test
ui_*
*.pro.user
app-build-desktop
*.aux
thesis.pdf
*.log
*.backup
*.tex~
*.bbl
*.blg
*~
.ctagsdb
app-build-*
thesis.out
thesis.toc


